<!DOCTYPE html>
{% extends 'main.html' %} {% block content %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{room.topic.name}} Room</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h2>{{room.name}}</h2>
    <p>{{room.description}}</p>
    <div class="comment-wrapper">
      <h3>Conversation</h3>
      <hr />
      {% for message in room_messages %}
      <div>
        <small>@{{message.user}} {{message.cretaed | timesince }} ago </small>
        <p>{{message.body}}</p>
        <hr />
      </div>
      {% endfor %}
    </div>
    {% if request.user.is_authenticated %}
    <div class="comment-form">
      <form method="POST" action="">
        {% csrf_token %}
        <input
          type="text"
          name="body"
          placeholder="Write your message here... "
        />
      </form>
    </div>
    {% endif %}
  </body>
</html>
{% endblock content %}
